<div class="scroll">
    <h3 *ngIf="!teamCreate.teamName">Team name</h3>
    <h3 *ngIf="teamCreate.teamName">{{ teamCreate.teamName }}</h3>
    <p>Enter the name of the team so you can identify which players belong in which team.</p>

    <input type="text" class="form-control" placeholder="Team name" [(ngModel)]="teamCreate.teamName" />


    <hr />

    <h3>Players</h3>
    <p>Add a new player to this team</p>

    <button class="btn btn-primary" (click)="createNewPlayer()">Create new player</button>

    <hr />

    <div class="team-player" *ngFor="let player of teamCreate.getPlayers()">
        <div class="user">
            <input type="text" class="form-control mb-2" [(ngModel)]="player.username" placeholder="Username" />
        </div>

        <div class="manage-buttons">
            <button class="btn btn-danger" (click)="removePlayer(teamCreate, player)"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
        </div>
    </div>

    <div *ngIf="teamCreate.getPlayers().length > 0">
        <hr />
        
        <h3>Saving the team</h3>
        <p>Now that you have created a team, you have to save it so it can be used in the tournament. Press the create button to finalize the team</p>

        <button class="btn btn-primary" (click)="createTeam()">Create</button>
    </div>
</div>